body {
    background-color: #F9F4F1;
    margin: 0px;
    
}

#bod-div {
    /* margin-bottom: auto; */
    min-height: 75vh;
}

#ind-box {
    text-align: center;
    vertical-align: middle;
	padding: 100px;
	margin: auto;
	margin-bottom: 5%;
    
}

h2, h3 {
    color: #0A0A0A;
}

#ind-hr {
    max-width: 30%;
    background-color: #0A0A0A;
}

/* Other Pages CSS */

#cart-h, #lab-h, #anim-h, #data-h{
    margin-left: 3%;

}

#cartoon-canvas, #lab1-canvas, #lab2-canvas, #anim-canvas, #lab5-canvas{
    border: 1px solid black;
    margin: 2%;
}

/* Lab 2 CSS */

#lab2-canvas {
    margin-left: 45%;
}

#lab2-btn {
    margin-left: 50%;
    padding: 10px;

}

/* Lab 3 CSS */

#form-div{
    margin: 20px;
}

/* Resume Lab CSS */

#resume-body {
    background-color: #f5f3f4;
}

#resume-name{
    text-align: center;
    margin: 20px;
    padding: 15px;

}

/* Data CSS */
.data-h4{
    text-align: center;
}

.data-canvas-area {
    padding: 15px;
}

/*Lab 6 CSS*/

#train-btn {
    position: absolute;
    top: 29%;
    left: 20%;
}

#motorcycle-btn {
    position: absolute;
    top: 73%;
    left: 83%;
}

#car-btn {
    position: absolute;
    top: 120%;
    left: 22%;
}

#truck-btn {
    position: absolute;
    top: 110%;
    left: 80%;
}

#pol-btn {
    position: absolute;
    top: 93%;
    left: 52%;
}

/* Footer CSS */
footer {
    background-color: #0A0A0A;
    padding: 5%;
    margin-bottom: 0%;
    
}

#foot-a {
    text-decoration: none;
    color: #F9F4F1;
    text-align: center;
}

#foot-p {
    text-align: center;
}

#foot-a:hover{
    color: #507DBC;
}